{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        <!-- the user's avatar -->
    </div>
    <div class="post-content preserve-newlines">
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        <div class="post-status-bar">
            {{#ifCond username ../user.username}}
                <form action="/delete/{{id}}" method="POST" style="display:inline;">
                    <button type="submit" class="delete-button" data-id="{{id}}"><i class="fas fa-trash-alt"></i></button>
                </form>
            {{else}}
                <form action="/like/{{id}}" method="POST" style="display:inline;">
                    <button type="submit" class="like-button" data-id="{{id}}">♥ {{likes}}</button>
                </form>
            {{/ifCond}}
            <span>by {{username}} at {{timestamp}}</span>
        </div>
    </div>
</div>
<script>

    function handleLikeClick(event) {
        const postId = event.target.getAttribute('data-id');
        fetch(`/like/${postId}`, {
            method: 'POST'
        }).then(response => {
            if (response.ok) {
                location.reload();
            }
        });      
    }

    function handleDeleteClick(event) {
        const buttonElement = event.target.closest('.delete-button');
        const postId = buttonElement.getAttribute('data-id');
        fetch(`/delete/${postId}`, {
            method: 'POST'
        }).then(response => {
            if (response.ok) {
                location.reload();
            }
        });
    }    
    document.querySelectorAll('.like-button').forEach(button => {
        button.addEventListener('click', handleLikeClick);
    });

    document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', handleDeleteClick);
    });

</script>