{{! Use the main layout }}
{{!< main }}

<div class="profile-container">
    <div class="profile-avatar">
        <img src="{{#if user.avatar_url}}{{user.avatar_url}}{{else}}/avatar/{{user.username}}{{/if}}" alt="Avatar">
    </div>
    
    <section class="profile-info">
        <h1>{{user.username}}</h1>
        <p>Member since: {{user.memberSince}}</p>
    </section>
</div>

<section class="user-posts">
    <div class="toots">
         <h2>Your {{{postNeoType}}}s</h2>
    </div>
    
    <!-- you'll need to make this conditaionl and #each expression work -->
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                <!-- you have to pass the user in to posts and this is the syntax -->
                {{> post this user=../user loggedIn=../loggedIn}}            
            {{/each}}
        </ul>
    {{else}}
            <p>You have not posted yet, poster.</p>
    {{/if}}
</section>
